h1{
    text-align: center;
    font-size: 2rem;
}

.edit-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 40px;
    border: 2px solid #8e86ff;
    border-radius: 5px;
  }
